.success-snackbar {
  background-color: #4caf50; /* Green */
  color: white;
}

.error-snackbar {
  background-color: #f44336; /* Red */
  color: white;
}

.create-form {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: 40rem;
}
